@model CPWebApplication.Models.Users
@{
    ViewBag.Title = "Login";
}
<h1>Вход</h1>
<div class="container">
    @using (Html.BeginForm("LoginClick", "Home", FormMethod.Post))
    {
        <input id="Login" name="Login" placeholder="Логин" type="text" value=@Model.Login><br />
        <input id="Password" name="Password" placeholder="Пароль" type="text" value=@Model.Password>
        <font color="red"><p>@ViewBag.Message</p></font>
        <button data-test-id="next-button" class="base 0-2-79 primary-0-2-93" style="text-align:center;">Вход</button>
    }
</div>
