@model CPWebApplication.Models.Tasks

@{
    ViewBag.Title = "Task";
}
<h2>Подробная информация о задаче</h2>
<div>Текст задачи:@Model.Text</div>
<br />
<div>Ответ:@Model.RightAnswer</div>
<br />
<div>ID:@Model.ID</div>

